<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :algorithm_binary_id %><br />
    <%= select :task, :algorithm_binary_id, grouped_options_for_select(active_binaries_for_select, @task.algorithm_binary) %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= select_tag :state, options_for_select(["new", "ready", "finished"], @task.state) %>
  </div>
  <div class="field">
    <%= f.label :inputs %><br />
    <%= f.text_area :inputs, :class => "" %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
