<%= form_for(@task) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @task} %>

  <div class="field">
    <%= f.label :algorithm_binary_id %><br />
    <%= f.select :algorithm_binary_id, grouped_options_for_select(active_binaries_for_select, @task.algorithm_binary) %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, options_for_select(["new", "ready", "finished"], @task.state) %>
  </div>
  <div class="field">
    <%= f.label :inputs %><br />
    <%= f.text_area :inputs, :class => "" %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
