<table>
	<thead>
		<tr>
			<th><%= sortable_link @search, :id, "#" %></th>
			<th><%= sortable_link @search, :algorithm_binary_id, "Algorithm binary" %></th>
			<th><%= sortable_link @search, :created_at %></th>
			<th><%= sortable_link @search, :user_last_name, "User" %></th>
			<th><%= sortable_link @search, :state %></th>
			<th><%= sortable_link @search, :started_at %></th>
			<th><%= sortable_link @search, :finished_at %></th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
	<% tasks.each do |task, index| %>
		<tr>
			<td><%= task.id %></td>
			<td><%= task.algorithm_binary.nil? ? "not found" : "#{task.algorithm_binary.name}" %></td>
			<td><%= l task.created_at %></td>
			<td><%= task.user.name %></td>
			<td><%= task.state %></td>
			<td><%= l_if_exists task.started_at %></td>
			<td><%= l_if_exists task.finished_at %></td>
			<td>
				<%= link_to 'Detail', task %>
				<%= link_to 'Edit', edit_task_path(task) %>
				<%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<% unless defined?(no_pagination) %>
	<%= pagination(tasks) %>
<% end %>