<% content_for :header do %>
	Task  #<%= @task.id %>
<% end %>

<div class="resource_detail">
	<table>
		<tr>
			<th>Algorithm:</th>
			<td><%= link_to_unless @task.algorithm_binary.nil?, @task.algorithm_binary.name, [@task.algorithm_binary.algorithm, @task.algorithm_binary] %></td>
			<th>Created at:</th>
			<td><%= l @task.created_at %></td>
		</tr>
		<tr>
			<th>User:</th>
			<td><%= @task.user.name %></td>
			<th>Started at:</th>
			<td><%= l @task.started_at if @task.started_at %></td>
		</tr>
		<tr>
			<th>State:</th>
			<td><%= @task.state %></td>
			<th>Finished at:</th>
			<td><%= l @task.finished_at if @task.finished_at %></td>
		</tr>
	</table>

	<hr />
	<div  class="ap_container">
		<p><span class="label">Inputs:</span><pre><%= @task.inputs %><pre></p>
	</div>
	<hr />
	<div class="ap_container">
		<p><span class="label">Params:</span><pre class="ap"><%= raw ap @task.params %></pre></p>
	</div>
	<hr />
	<div class="ap_container">
		<p><span class="label">Task's params:</span><pre class="ap"><%= raw ap @task.task_params %></pre></p>
	</div>
</div>

<%#= button_to "Run!", task_run_path(@task), :disabled => (@task.state != "new") %>
<%= button_to "Run!", task_run_path(@task) %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back to list', tasks_path %>

<h2>Outputs</h2>

<%= render :partial => "outputs/list", :locals => { :outputs => @outputs }%>