<h1>Task  #<%= @task.id %></h1>

<div class="resource_detail">
	<table>
		<tr>
			<th>Algorithm:</th>
			<td><%= @task.algorithm_binary.nil? ? "not found" : "#{@task.algorithm_binary.name}" %></td>
			<th>User:</th>
			<td><%= @task.user.name %></td>
		</tr>
		<tr>
			<th>Created at:</th>
			<td><%= @task.created_at %></td>
			<th>State:</th>
			<td><%= @task.state %></td>
		</tr>
		<tr>
			<th>Started at:</th>
			<td><%= @task.started_at %></td>
			<th>Finished at:</th>
			<td><%= @task.finished_at %></td>
		</tr>
	</table>

	<hr />
	<div>
		<p><strong>Inputs:</strong> <%= @task.inputs %></p>
	</div>
	<hr />
	<div>
		<p><strong>Params:</strong> <%= @task.params %></p>
	</div>
</div>

<%= button_to "Run!", task_run_path(@task) %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back to list', tasks_path %>

<h2>Outputs</h2>

<%= render :partial => "outputs/list", :locals => { :outputs => @outputs }%>