<% content_for :header do %>
	Task  #<%= @task.id %>
<% end %>

<div class="resource_detail">
	<table>
		<tr>
			<th>Algorithm:</th>
			<td><%= link_to_unless @task.algorithm_binary.nil?, @task.algorithm_binary.name, [@task.algorithm_binary.algorithm, @task.algorithm_binary] %></td>
			<th>Created at:</th>
			<td><%= l @task.created_at %></td>
		</tr>
		<tr>
			<th>User:</th>
			<td><%= @task.user.name %></td>
			<th>Started at:</th>
			<td><%= l @task.started_at if @task.started_at %></td>
		</tr>
		<tr>
			<th>State:</th>
			<td><%= @task.state %></td>
			<th>Finished at:</th>
			<td><%= l @task.finished_at if @task.finished_at %></td>
		</tr>
		<tr>
			<th>Cloud Engine:</th>
			<td><%= link_to @task.cloud_engine.title, cloud_engine_path(@task.cloud_engine) %></td>
			<th></th>
			<td></td>
		</tr>
		<tr>
			<th>Image:</th>
			<td><%= link_to @task.image.title, cloud_engine_image_path(@task.image) %></td>
			<th></th>
			<td></td>
		</tr>
	</table>

	<hr />
	<div  class="ap_container">
		<p><span class="label">Inputs:</span></p>
		<pre><%= @task.inputs %><pre>
	</div>
	<hr />
	<div class="ap_container">
		<p><span class="label">Params:</span></p>
		<div class="ap"><%= raw ap @task.params %></div>
	</div>
	<hr />
	<div class="ap_container">
		<p><span class="label">Task's params:</span></p>
		<div class="ap"><%= raw ap @task.task_params %></div>
	</div>
</div>

<%= render :partial => "tasks/error_info" %>

<%= render :partial => "tasks/instances_info" %>			

<%= button_to "Run this task", run_task_path(@task), :disabled => ((@task.state != Task::STATES[:new]) && Rails.env != "development") %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back to list', tasks_path %>

<h2>Outputs</h2>

<%= render :partial => "outputs/list", :locals => { :outputs => @outputs }%>