<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "text" %>
  </div>
	<div class="field">
		<%= f.label :admin %>
		<%= f.check_box :admin %>
	</div>
	<div class="field">
		<%= f.label :state %>
		<%= select :user, :state, options_for_select(["enabled", "disabled"], @user.state) %>
	</div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
