<%= form_for(@user) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @user} %>
	
	<%= render :partial => "users/common_user_form", :locals => { :f => f } %>

	<div class="field">
		<%= f.check_box :admin %>
		<%= f.label :admin %>
	</div>
	<div class="field">
		<%= f.label :state %>
		<%= select :user, :state, options_for_select(User::STATES, @user.state), :include_blank => true %>
	</div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
