<% content_for :header do %>
	<%= link_to "Users", users_path %>
	&raquo;
	<%= link_to @user.name, user_path %>
	&raquo;
	Change password
<% end %>

<%= form_for(@user) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @user} %>
	<%= render :partial => "users/password_form_fields", :locals => { :f => f } %>
	
	<fieldset id="actions" class="">
		<legend>Actions</legend>

	  <div class="actions">
	    <%= f.submit "Change password" %> or <%= link_to "Cancel", :back %>
	  </div>
	</fieldset>
<% end %>

