<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= auto_link @user.email %>
</p>

<p>
	<b>Admin:</b>
	<%= @user.admin? %>
</p>

<p>
	<b>Account status:</b>
	<%= @user.state %>
</p>

<% if @user.locked_at %>
<p>
	<b>Account locked at:</b>
	<%= @user.locked_at %>
</p>

<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
