<table>
	<thead>
		<tr>
			<th><%= sort_link @search, :name %></th>
			<th><%= sort_link @search, :launch_params %></th>
			<th><%= sort_link @search, :user_last_name, "Author" %></th>
			<th><%= sort_link @search, :updated_at, "Last Update" %></th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% algorithms.each do |algorithm| %>
		<tr>
			<td><%= link_to algorithm.name, algorithm %></td>
			<td><%= truncate(algorithm.launch_params) %></td>
			<td><%= link_to algorithm.user.name, algorithm.user %></td>
			<td><%= l algorithm.updated_at %></td>
			<td>
				<%= link_to 'Edit', edit_algorithm_path(algorithm) %>
				<%= link_to 'Destroy', algorithm, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= pagination(algorithms) %>