<table>
	<thead>
	  <tr>
	    <th><%= sortable_link @search, :id, "#" %></th>
	    <th><%= sortable_link @search, :priority %></th>
	    <th><%= sortable_link @search, :run_at %></th>
	    <th><%= sortable_link @search, :locked_at %></th>
	    <th><%= sortable_link @search, :locked_by %></th>
	    <th><%= sortable_link @search, :failed_at %></th>
	    <th><%= sortable_link @search, :created_at %></th>
	    <th><%= sortable_link @search, :updated_at %></th>
			<th>Actions</th>
	  </tr>
	</thead>
	
	<tbody>
		<% @delayed_jobs.each do |delayed_job| %>
		<tr>
			<td><%= delayed_job.id %></td>
			<td><%= delayed_job.priority %></td>
			<td><%= l_if_exists delayed_job.run_at %></td>
			<td><%= l_if_exists delayed_job.locked_at %></td>
			<td><%= delayed_job.locked_by %></td>
			<td><%= l_if_exists delayed_job.failed_at %></td>
			<td><%= l_if_exists delayed_job.created_at %></td>
			<td><%= l_if_exists delayed_job.updated_at %></td>
			<td>
				<%= link_to 'Detail', delayed_job %>
				<%= link_to 'Destroy', delayed_job, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>

	</tbody>

</table>
