<%= form_for(@cloud_engine) do |f| %>
  <% if @cloud_engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloud_engine.errors.count, "error") %> prohibited this cloud_engine from being saved:</h2>

      <ul>
      <% @cloud_engine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :type %><br />
		<%= select :cloud_engine, :engine_type, options_for_select(["AWS", "Eucaliptus"], @cloud_engine.engine_type) %>
	</div>
	
	<div class="field">
		<%= f.label :access_key %><br />
		<%= f.text_field :access_key, :class => "text" %>
	</div>

	<div class="field">
		<%= f.label :secret_access_key %><br />
		<%= f.password_field :secret_access_key, :class => "text" %>
	</div>
	
	<div class="field">
		<%= f.label :endpoint_url %><br />
		<%= f.text_field :endpoint_url, :class => "text" %>
	</div>
	
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
