<%= form_for(@cloud_engine) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @cloud_engine} %>

	<div class="field">
		<%= f.label :engine_type %><br />
		<%= f.select :engine_type, options_for_select(["AWS", "Eucaliptus"], @cloud_engine.engine_type) %>
	</div>
	
	<div class="field">
		<%= f.label :access_key %><br />
		<%= f.text_field :access_key, :class => "text" %>
	</div>

	<div class="field">
		<%= f.label :secret_access_key %><br />
		<%= f.password_field :secret_access_key, :class => "text" %>
	</div>
	
	<div class="field">
		<%= f.label :endpoint_url %><br />
		<%= f.text_field :endpoint_url, :class => "text" %>
	</div>
	
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
