<%= form_for(@cloud_engine) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @cloud_engine} %>

	<fieldset id="cloud_engine_detail" class="">
		<legend>Cloud Engine Detail</legend>
		
		<div class="field">
			<%= f.label :title %><br />
			<%= f.text_field :title, :class => "text title long" %>
		</div>

		<div class="field">
			<%= f.label :engine_type %><br />
			<%= f.select :engine_type, options_for_select(CloudEngine::ENGINE_TYPES.values, @cloud_engine.engine_type) %>
		</div>
	
		<div class="field">
			<%= f.label :access_key %><br />
			<%= f.text_field :access_key, :class => "text" %>
		</div>

		<div class="field">
			<%= f.label :secret_access_key %><br />
			<%= f.password_field :secret_access_key, :class => "text" %>
		</div>
	
		<div class="field">
			<%= f.label :endpoint_url %><br />
			<%= f.text_field :endpoint_url, :class => "text" %>
		</div>
	</fieldset>

	<fieldset id="launch_params" class="line">
		<legend>Config params</legend>
		
		<%= f.fields_for :params do |params| %>
		<div class="field">
			<%= params.label :key_name, "Key pair name" %><br />
			<%= params.text_field :key_name, :value => @cloud_engine.key_name, :class => "text" %>
		</div>
		<div class="field">
			<%= params.label :availability_zones_info_cmd, "Availability Zones Info Command" %><br />
			<%= params.text_field :availability_zones_info_cmd, :value => @cloud_engine.availability_zones_info_cmd, :class => "text long" %>
		</div>
		<% end %>
	</fieldset>
	
	<fieldset id="actions" class="">
		<legend>Actions</legend>
		
	  <div class="actions">
	    <%= f.submit %> or <%= link_to "Cancel", :back %>
	  </div>
	</fieldset>
	
<% end %>
