<%= form.fields_for :attachment do |attachment_form| %>
<div class="field">
	<%= attachment_form.label :data %><br />

	<% unless @algorithm_binary.attachment.blank? %>
	<div class="attachment">
		<%= link_to @algorithm_binary.attachment.data_file_name, attachment_path(@algorithm_binary.attachment.id) %>
		<%= link_to "Replace?", attachment_path(@algorithm_binary.attachment), :method => :delete, :confirm => "Do you really want to replace this file?" %>
	</div>
	<% else %>
		<%= attachment_form.file_field :data %><br />
		<em>Supported files types: <%= Attachment::VALID_FILE_TYPES.each_value.collect { |val| val[:label] }.to_sentence %></em><br />
		<em>Maximum size: <%= number_to_human_size(Attachment::MAX_FILE_UPLOAD_SIZE) %></em><br />
	<% end %>
</div>
<% end %>

