<%= form_for([@algorithm, @algorithm_binary], :html => { :multipart => true }) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @algorithm_binary} %>

	<div class="field">
		<%= f.label :version %><br />
		<%= f.text_field :version, :class => "title",  %>
	</div>
	
	<%= render :partial => "attachments", :locals => { :form => f } %>
	
	<div class="field">
		<%= f.label :state %><br />
		<%= f.select :state, options_for_select(["enabled", "disabled"], @algorithm_binary.state) %>
	</div>
	
	<div class="field">
		<div class="unit size4of5">
			<%= f.label :launch_params %><br />
			<%= f.text_field :launch_params, :class => "text long",  %>
		</div>
		
		<div class="unit size1of5 lastUnit">
			<div class="field info-help">
				<%= render :partial => "shared/help/macro_syntax_help" %>
			</div>
		</div>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, :class => "description" %>
	</div>
	
	<div class="actions">
		<%= f.submit %> or <%= link_to "Cancel", @algorithm %>
	</div>
<% end %>
