<table>
	<thead>
	  <tr>
	    <th><%= sort_link @search, :version %></th>
	    <th><%= sort_link @search, :state %></th>
	    <th><%= sort_link @search, :launch_params %></th>
			<th><%= sort_link @search, :updated_at, "Last Update" %></th>
	    <th>Actions</th>
	  </tr>
	</thead>

	<tbody>
	<% algorithm_binaries.each do |algorithm_binary| %>
	  <tr>
	    <td><%= link_to algorithm_binary.version, [algorithm_binary.algorithm, algorithm_binary] %></td>
	    <td><%= algorithm_binary.state %></td>
	    <td><%= truncate algorithm_binary.launch_params %></td>
			<td><%= l algorithm_binary.updated_at %></td>
	    <td>
				<%= link_to 'Detail', algorithm_algorithm_binary_path(algorithm_binary.algorithm, algorithm_binary) %>
				<%= link_to 'Edit', edit_algorithm_algorithm_binary_path(algorithm_binary.algorithm, algorithm_binary) %>
				<%= link_to 'Destroy', algorithm_algorithm_binary_path(algorithm_binary.algorithm, algorithm_binary), :confirm => 'Are you sure?', :method => :delete %>
			</td>
	  </tr>
	<% end %>
	</tbody>
</table>

<%= pagination(algorithm_binaries) %>