<%= form_for(@output) do |f| %>
  <% if @output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@output.errors.count, "error") %> prohibited this output from being saved:</h2>

      <ul>
      <% @output.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :output %><br />
    <%= f.text_area :output %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
