<h1>Listing outputs</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Output</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outputs.each do |output| %>
  <tr>
    <td><%= output.task_id %></td>
    <td><%= output.output %></td>
    <td><%= link_to 'Show', output %></td>
    <td><%= link_to 'Edit', edit_output_path(output) %></td>
    <td><%= link_to 'Destroy', output, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Output', new_output_path %>
