<h1>Output detail</h1>

<p>
	<strong>Output #<%= @output.id %> for task #<%= @output.task_id %></strong>
</p>

<p>
  <strong>Stdout:</strong>
	<pre><%= @output.stdout %></pre>
  
</p>

<p>
  <strong>Stderr:</strong>
  <pre><%= @output.stderr %></pre>
</p>

<%= link_to 'Back to task', task_path(@output.task) %> |
<%= link_to 'Delete', task_output_path(@output), :confirm => 'Are you sure?', :method => :delete %>

