<h1>
	<%= link_to "Task ##{@output.task_id}", @output.task %>
	&raquo;
	<%= "Output #{@output.id}" %>
</h1>

<div class="resource_detail">
	<div class="ap_container">
		<p><span class="label">Params:</span></p>
		<div class="ap"><%= raw ap @output.params %></div>
	</div>
</div>

<div>
	<div>
	  <span class="label">Stdout:</span>
		<pre class="output stdout"><%= @output.stdout %></pre>
	</div>
	
	<div>
	  <span class="label">Stderr:</span>
	  <pre class="output stderr"><%= @output.stderr %></pre>
	</div>
</div>

<%= link_to 'Back to task', task_path(@output.task) %> |
<%= link_to 'Delete', task_output_path(@output), :confirm => 'Are you sure?', :method => :delete %>

