<%= form_for([@cloud_engine, @image]) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @image} %>
	
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "text title long" %>
	</div>
	
	<div class="field">
		<%= f.label :cloud_engine_id %><br />
		<%= f.select :cloud_engine_id, options_from_collection_for_select(CloudEngine.all, :id, :title, @image.cloud_engine_id) %>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, :class => "text description" %>
	</div>
	
	<fieldset id="launch_params" class="line">
		<legend>Launch params</legend>
		
		<%= f.fields_for :launch_params do |f_params| %>
		<div class="unit size1of2">
			<div class="field">
				<%= f_params.label :image_id %><br />
				<%= f_params.text_field :image_id, :value => @image.launch_params[:image_id], :class => "text" %>
			</div>
			<div class="field">
				<%= f_params.label :kernel_id %><br />
				<%= f_params.text_field :kernel_id, :value => @image.launch_params[:kernel_id], :class => "text" %>
			</div>
			<div class="field">
				<%= f_params.label :ramdisk_id %><br />
				<%= f_params.text_field :ramdisk_id, :value => @image.launch_params[:ramdisk_id], :class => "text" %>
			</div>
		</div>
		
		<div class="unit size2of2 lastUnit">
			<div class="field">
				<%= f_params.label :instance_type %><br />
				<%= f_params.select :instance_type, options_for_select(Image::INSTANCE_TYPES, @image.launch_params[:instance_type]), 
												:include_blank => true, :class => "text" %>
			</div>
			<div class="field">
				<%= f_params.label :availability_zone %><br />
				<%= f_params.text_field :availability_zone, :value => @image.launch_params[:availability_zone], :class => "text" %>
			</div>
		</div>
		<% end %>
	</fieldset>

	<fieldset class="line">
		<legend>Start up script</legend>
		
		<div class="unit size3of4">
			<div class="field">
				<%= f.label :start_up_script %><br />
				<%= f.text_area :start_up_script, :class => "text wide" %>
			</div>
		</div>
		
		<div class="unit size1of4 lastUnit">
			<div class="field info-help">
				<%= render :partial => "shared/help/start_up_script_help" %>
			</div>
			<div class="field info-help">
				<%= render :partial => "shared/help/macro_syntax_help" %>
			</div>
		</div>
	</fieldset>

  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
