<%= form_for(@image) do |f| %>
	<%= render :partial => 'shared/form_errors', :locals => {:resource => @image} %>
	
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "text title long" %>
	</div>
	
	<div class="field">
		<%= f.label :cloud_engine_id %><br />
		<%= f.select :cloud_engine_id, options_from_collection_for_select(CloudEngine.all, :id, :title, @image.cloud_engine_id) %>
	</div>

	<div class="field">
		<%= f.label :image_type %><br />
		<%= f.text_field :image_type, :class => "text" %>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, :class => "text" %>
	</div>

  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", :back %>
  </div>
<% end %>
