<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag %w{typography forms oocss} %>
  <%= stylesheet_link_tag "styles.less", :rel => "stylesheet/less" %>
  <%= javascript_include_tag %w{less-1.0.41.min} %>
  <%= javascript_include_tag %w{jquery-1.5.min jquery.elastic} %>
  <%= javascript_include_tag %w{rails application} %>
  <%= csrf_meta_tag %>
	<%= yield :head %>
</head>
