<!DOCTYPE html>
<html>
<head>
  <title>ProdPlanner</title>
  <%= stylesheet_link_tag %w{typography forms prodplanner} %>
  <%= javascript_include_tag %w{jquery-1.5} %>
  <%= javascript_include_tag %w{application rails} %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<% if user_signed_in? %>
		  <div id="user_login_box">
		    <%= link_to current_user.name, edit_user_registration_path %> |
		    <%= link_to 'Sign out', destroy_user_session_path %>
		  </div>
		<% end %>
		<div class="clear"></div>

		<div id="menu">
			<%= render :partial => 'shared/menu' %>
		</div><!-- #menu -->
		<div class="clear"></div>
		
		<div id="notifications">
			<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :class => "#{name}" if msg.is_a?(String) %>
	    <% end %>
		</div>
		
		<div id="content">
			<%= yield %>	
		</div><!-- #content -->
		<div class="clear"></div>

		<div id="footer">
			&copy; Josef Sin 2011
		</div><!-- #footer -->
	</div><!-- #container -->
</body>
</html>
