<!DOCTYPE html>
<html>
<head>
  <title>ProdPlanner - Login Page</title>
  <%= stylesheet_link_tag %w{typography forms prodplanner} %>
  <%= javascript_include_tag "jquery-1.5" %>
  <%= javascript_include_tag %w{application rails} %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="sign_up_container">
		<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "#{name}" if msg.is_a?(String) %>
    <% end %>

		<div id="content">
			<%= yield %>	
		</div><!-- #content -->

		<div id="footer">
			&copy; Josef Sin 2011
		</div><!-- #footer -->
	</div><!-- #container -->
</body>
</html>
